* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #22c55e, #2563eb);
}

header {
  text-align: center;
  color: white;
}

.logo {
  width: 100px;
  background: #95f3cc;
  border-radius: 80px;
}

header h1 {
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

header p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
}

.hasil {
  text-align: center;
}

.hasil h3 {
  font-size: 38px;
  margin: 0;
}

.rekomendasi h3 {
  margin-top: 15px;
}

ul {
  padding-left: 18px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 13px;
}

@media(max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}

.form-label.sm {
  font-size: 14px;
}

.chart-wrapper {
  width: 220px;
  height: 220px;
  margin: 0 auto;
}

.resultPlaceholder .icon {
  font-size: 36px;
}

.resultPlaceholder .text-muted {
  color: #777;
  font-size: 14px;
}

#bmiReport p {
  font-size: 13px;
}

.recomendation-item p {
  font-size: 14px;
  padding-left: 1.5rem;
}