* {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  background: linear-gradient(135deg, #22c55e, #2563eb);
}

.container {
  max-width: 1100px;
  margin: auto;
  padding: 30px;
}

header {
  text-align: center;
  color: white;
  margin-bottom: 25px;
}

.logo {
  width: 100px;
  margin-bottom: 5px;
  background: #95f3cc;
  border-radius: 80px;
}

header h1 {
  margin: 5px 0;
  font-size: 36px;
  text-transform: uppercase;
  letter-spacing: .5px;
}

header p {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0px;
  ;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, .15);
  margin-bottom: 20px;
}

label {
  font-weight: 600;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin: 8px 0 16px;
  border-radius: 10px;
  border: 1px solid #cbd5f5;
}

button {
  width: 100%;
  padding: 14px;
  border: none;
  border-radius: 12px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.hasil {
  text-align: center;
}

.hasil h3 {
  font-size: 38px;
  margin: 0;
}

.rekomendasi h3 {
  margin-top: 15px;
}

ul {
  padding-left: 18px;
}

footer {
  text-align: center;
  margin-top: 20px;
  color: white;
  font-size: 13px;
}

@media(max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }
}